PORT=XXXX


MONGO_URI= ///mongodb://localhost:xxxx/resume_builder

FRONTEND_URL= //http://localhost:xxxx
JWT_SECRET=mySuperSecretKey123   //xxxxxxxxxxxx

EMAIL_USER= //Johndoe@gmail.com
EMAIL_PASS= // xxxxxxxxxxxxxxxxxxxxx

GEMINI_API_KEY= //xxxxxxxxxxxxxxxxxx